{% extends "base.html" %}

{% block messages %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endblock %}

{% block H1_Description %}
    Welcome!
{% endblock %}

{% block H1_Content %}
    This website was created to replicate a cookbook that was created by my good friend Shannon.
    <br>
    Shannon created this cookbook in December 2012 as a Christmas gift to her close circle of friends
    <br>
    and this cookbook has been getting significant use since. All the recipes can be found by clicking
    <br>
    on the 'Recipes' tab or using the search bar.
{% endblock %}

{% block H2_Description %}
    Navigation
{% endblock %}

{% block H2_Content %}
    Use the tabs on the top of the website to look at the recipes, add a recipe, search for recipes or
    <br>
    return to the home page.
{% endblock %}