{% extends "base.html" %}

{% block page_title %}
    Shannon's Recipe Book
{% endblock %}

{% block H1_Description %}
    Welcome!
{% endblock %}

{% block H1_Content %}
    This website was created to replicate an online cookbook that my fiancée's friend's had made
    years ago and has been getting significant use since! (The pancakes are the best!)
{% endblock %}

{% block H2_Description %}
    Navigation
{% endblock %}

{% block H2_Content %}
    Use the tabs on the top of the website to search for an existing recipe, add a recipe or to return to the homepage.
{% endblock %}